# PostgreSQL
POSTGRES_USER=retail_user
POSTGRES_PASSWORD=retail_password
POSTGRES_DB=retail_analytics
POSTGRES_PORT=5432

# Airflow
AIRFLOW_UID=50000

# Airflow metadata database
AIRFLOW_DB_USER=airflow
AIRFLOW_DB_PASSWORD=airflow
AIRFLOW_DB_NAME=airflow